# Kopiraj CELOTNO vsebino (brez te vrstice) v build-env.local:
#   cp openshift/frontend/build-env.example openshift/frontend/build-env.local
# Route hosti: tanejb-dev @ apps.rm3.7wse.p1.openshiftapps.com (oc get routes)

VITE_API_GATEWAY_WEB=https://api-gateway-web-tanejb-dev.apps.rm3.7wse.p1.openshiftapps.com

VITE_REMOTE_MOVIES=https://web-movies-tanejb-dev.apps.rm3.7wse.p1.openshiftapps.com/assets/remoteEntry.js
VITE_REMOTE_USERS=https://web-users-tanejb-dev.apps.rm3.7wse.p1.openshiftapps.com/assets/remoteEntry.js
VITE_REMOTE_SCREENINGS=https://web-screenings-tanejb-dev.apps.rm3.7wse.p1.openshiftapps.com/assets/remoteEntry.js
VITE_REMOTE_RESERVATIONS=https://web-reservations-tanejb-dev.apps.rm3.7wse.p1.openshiftapps.com/assets/remoteEntry.js
